@charset "utf-8";
/* CSS document */

p { 
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px; 
	width: 600px;
	background-color: bisque;
	padding: 20px;
}

h1, h2 {
	color: darksalmon;	
}

body {
	background-color: floralwhite;
}